@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {margin:0; padding: 0;}

img {
    max-width: 100%;
    display: block;
}




:root {
    --ff-primary: 'Source Sans Pro', sans-serif;;
    --ff-secondary: 'Source Code Pro', monospace;;

    --fw-reg: 300;
    --fw-bold: 600;

    --clr-light: rgb(212, 207, 207);
    --clr-dark-1: #3f3f58;
    --clr-dark-2: #1d1d27;
    --clr-accent: #318a48;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.45rem;
    --fs-body: 1.4rem;
    --fs-arcticle: 1.1rem;

}

@media (min-width: 900px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.7rem;
        --fs-body: 1.5rem;
    }
}

body{
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    background-color: var(--clr-dark-2);
    line-height: 1.6;
}



