.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-dark-2);
    color: var(--clr-light);
   padding-top: 4em;
}

.home-img{
    max-width: 22%;
    margin-right: 2em;
}

.home-data>h1{
  font-size: var(--fs-h2);
}

.home-data>p{
    color: var(--clr-accent);
    font-size: var(--fs-h3);
}